<launch>
    <node pkg="rosbag_record_service" type="record_service_node.py" name="record_service" output="screen">
        <param name="output_folder" value="~/bags" />
<rosparam param="topic_groups">
cameras:
  all: False
  regex: /knarr/mono/image_raw/compressed(.*)
  topics:
    - /knarr/mono/camera_info
  output_folder: ~/knarr/
  output_prefix: knarr-mono-%H-%M-%S
  split_size: 1024
  quiet: True
everything:
    all: True
    exclude: /knarr/(stereo|mono)/(.*)
    output_prefix: knarr-%H-%M-%S
    split_size: 1024
    quiet: True
    output_folder: ~/knarr/
stereo:
    all: False
    quiet: True
    split_size: 1024
    output_folder: ~/knarr/
    output_prefix: knarr-stereo-%H-%M-%S
    topics:
        - /knarr/stereo/left/image_raw/compressed
        - /knarr/stereo/right/image_raw/compressed
        - /knarr/stereo/left/camera_info
        - /knarr/stereo/right/camera_info
        - /knarr/stereo/left/parameter_descriptions
        - /knarr/stereo/right/parameter_updates
        - /knarr/stereo/right/parameter_descriptions
        - /knarr/stereo/right/parameter_updates
</rosparam>
    </node>
</launch>
